body{
    background-image:url("images/cover1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
        }
    
    
        .Menuitem{
    padding:10px;
    width:400px;
    height: 250px;
        }
    
        
    
        img{
            max-width:100%;
    
    
        }
    
@media (max-width:720px){
    img{
        width:49%;


    }

.main{
    border:20px solid rgba(182, 181, 181, 0.281);
     width:60%;
     margin: auto;
}
#Main-div{
text-align: center;
margin:auto

}
    div{
        display:flex;
        flex-direction: column;
        width:100%;   
             

    }
    *{
        font-size: 2vw;
    }

}


    
@media (min-width:1200px){
    img{
        
        width:70%;
    }
    .div2fix{
        display:flex;
        justify-content:center;
margin: 10px;
padding: 10px;

    }
    div{
        margin: 10px;
padding: 10px;
        width:80%;
    }
    *{
        text-align:center;
        font-size: 2vw;
    }

}
    
    